<% layout('layouts/boilerplate') %>

    <h3>Enter New Listings</h3>
    <form method="post" action="/listing" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="Listing[title]" placeholder="Title" required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" placeholder="Enter your text" name="Listing[description]"
                required></textarea>
              
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" class="form-control" id="image" placeholder="Link to image" name="Listing[image]">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" placeholder="Enter price" name="Listing[price]"
                required>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" placeholder="Enter location" name="Listing[location]">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Country name" name="Listing[country]">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>